nav {
  position: fixed;

  top: 0;
  z-index: 50;
  transition: all 0.5s ease-in-out;
}

nav.bg-transparent {
  background-color: transparent;
}

nav.bg-opacity-50 {
  background-color: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
}

.nav-container {
  width: 100vw;

  margin: 0;
  padding: 0 50px 0 80px;
}

.nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.nav-logo {
  flex-shrink: 0;
}

.nav-logo-text {
  font-size: 30px;
  font-weight: bold;
  background: linear-gradient(to right, #8c4fc5, #6366f1);
  background-clip: text;
  color: transparent;
}
.actives {
  font-weight: bold;
  background: linear-gradient(to right, #8c4fc5, #6366f1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.nav-desktop {
  display: flex;
  align-items: center;
}

.nav-desktop .nav-items {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-item {
  position: relative;
  padding: 0.5rem 0.75rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 500;
  color: white;
  transition: color 0.3s ease-in-out;
}

.nav-item:hover,
.nav-item:active,
.nav-item.active {
  color: linear-gradient(to left, violet, purple, rgb(19, 0, 128));
}

.nav-item-text {
  position: relative;
  z-index: 10;
  display: block;
  transition: all 0.3s ease-in-out;
}

.nav-item-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background: linear-gradient(to right, #6366f1, #a855f7);
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease-in-out;
}

.nav-item:hover .nav-item-text::after,
.nav-item:active .nav-item-text::after,
.nav-item.active .nav-item-text::after {
  transform: scaleX(1);
}
.nav-mobile-toggle {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav-desktop {
    display: none;
  }

  .nav-mobile-toggle {
    display: block;
    cursor: pointer;
  }

  .nav-mobile-menu {
    display: flex;
    flex-direction: column;
    background-color: rgba(30, 30, 30, 0.95);
    padding: 15px 20px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  }

  .nav-mobile-menu .nav-item {
    padding: 10px 0;
    font-size: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .nav-mobile-menu .nav-item:last-child {
    border-bottom: none;
  }
}
